meson
wheel
numpy
scipy
matplotlib
seaborn
h5py
pandas
spacy
nltk
opencv-python
scikit-learn
tensorflow
tensorflow[and-cuda]
keras
markdown
pillow
ipykernel
python-dotenv
knockknock
optuna
optuna-integration[keras]
jupyter
ipywidgets
tqdm
